.button {
  outline: none;
  background: #38b6ff;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 8px 12px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.button.secButton {
  background: #545454;
}
.button.secButton:hover {
  color: #545454;
  background: transparent;
  border: 1px solid #545454;
}
.button:hover {
  color: #38b6ff;
  background: transparent;
  border: 1px solid #38b6ff;
}
