@import '../../../styles/variables.less';

.header{
    line-height: 1.5;
    padding-bottom: 15px;

    .headerText{
        font-size: 24px;
    }

    .subHeaderText{
        font-size: 18px;
        font-weight: @thin;
        font-style: italic;
    }
}